* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  transition: all 300ms ease;
}
button:hover {
  transform: scale(1.1);
}

body {
  background-color: black;
  text-align: center;
}
.container {
  background-image: url("img/background.png");
  background-size: cover;
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playButton {
  width: 30px;
  height: 30px;
  border: 3px solid black;
  border-radius: 5px;
  margin-top: 5px;
}
.timeLimit {
  width: 80px;
  border: 3px solid black;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}
.score {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: green;
  color: white;
  font-size: 24px;
}

.field {
  height: 300px;
  width: 100%;
  margin-top: 200px;
  text-align: initial;
  display: flex;
  flex-direction: row;
}

.carrot {
  cursor: pointer;
  position: absolute;
}

.bug {
  cursor: pointer;
  position: absolute;
}

.winGame,
.loseGame,
.stopGame {
  width: 400px;
  height: 200px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  color: white;
}

.winRestart,
.loseRestart,
.stopRestart {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 40px;
  color: white;
}
.winGame i,
.loseGame i,
.stopGame i {
  color: black;
}
.winMessage,
.loseMessage,
.stopMessage {
  font-size: 40px;
  margin: 24px 0;
}

.visible {
  display: flex;
}
.invisible {
  display: none;
}
.noClick {
  pointer-events: none;
}
.beforeMessage {
  margin: auto;
  font-size: 150px;
  font-weight: bold;
  color: yellow;
  transform: translate(0px, -250px);
}
